<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>http://111.75.203.196:9095/mobileapi/fileDownload?fileName=掌上工程管控APP.ipa&amp;path=/20200114/e34d60d2-2d75-4bab-8058-000a47a59846</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>com.tellhow.zsgcah</string>
                    <key>bundle-version</key>
                    <string>1.2.7</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>subtitle</key>
                    <string>掌上工程管控APP</string>
                    <key>title</key>
                    <string>掌上工程管控APP</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>