<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>https://github.com/zhcc/mobilearkplist/blob/master/%E6%8E%8C%E4%B8%8A%E4%BE%9B%E7%94%B5%E6%9C%8D%E5%8A%A1App.ipa</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>com.tellhow.gdfw</string>
                    <key>bundle-version</key>
                    <string>4.1.52</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>subtitle</key>
                    <string>掌上供电服务App</string>
                    <key>title</key>
                    <string>掌上供电服务App</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>